#titulo{
    text-align: center;
    color: red;
}

.rodape{
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}


.entrada-usuario{
    border: 1px solid black;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
